<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://psmessageprocessor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>psmessageprocessor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <ResourceId>/subscriptions/23f24eb7-4d99-4de3-8a8a-28fb2ed3a3ad/resourcegroups/ps-iot-hub-course/providers/Microsoft.Web/sites/psmessageprocessor</ResourceId>
    <DeployIisAppPath>psmessageprocessor</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$psmessageprocessor</UserName>
    <_SavePWD>True</_SavePWD>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <WebJobType>Continuous</WebJobType>
    <WebJobName>Globomatics.MessageProcessor</WebJobName>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>
</Project>